* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
}

#title {
    padding: 2%;
    color: white;
    background-image: linear-gradient(to right, rgb(11, 15, 85) , rgb(126, 154, 229));
}

.btn {
    display: block;
    margin: 10px;
}

.container-fluid {
    width: 75%;
}

.cityform {
    width: 75%;
    text-align: center;
    margin: auto;
}

#wicon {
    display: none;
}

#wicon1 {
    display: none;
}

#search {
    margin: auto;
    margin-top: 5%;;
}

#recent {
    margin: auto;
    margin-top: 5%;
    
}

#city-search-term {
    font-size:x-large
}

.subtitle {
    border-bottom: 2px solid black;
}

.card {
    background-color: rgb(98, 98, 161);
    color: white;
}

.card-deck {
    width: auto;
}

button {
    width: 100%;
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {

* {
    margin: auto;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    
}

.card {
 margin: auto;
}

#search {
    width: auto;
}

.card-deck {
    flex-flow: column;
    justify-content: center;
    width: 50%;
    margin: auto;
}

}

/* Width at 480px and below */
@media screen and (max-width: 480px) {

    *{ 
        justify-content: center;
        flex-direction: column;
        margin: auto;
        text-align: center;
        padding: 0;
        width: auto;
}
}

/* Width at 300px and below */
@media screen and (max-width: 300px) {
*{ 
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 0;
    text-align: center;
}

.container-fluid {
    margin: auto;
}

button {
    margin: auto;
    text-align: center;
}

    }



