* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    width: 100%;
}

#title {
    padding: 2%;
    color: white;
    background-image: linear-gradient(to right, rgb(11, 15, 85) , rgb(126, 154, 229));
}

.btn {
    display: block;
    margin: 10px;
}

.container-fluid {
    width: 75%;
}

.cityform {
    width: 75%;
    text-align: center;
    margin: auto;
}

#wicon {
    display: none;
}

#wicon1 {
    display: none;
}

#search {
    margin: auto;
    margin-top: 5%;;
}

#recent {
    margin: auto;
    margin-top: 5%;
    
}

#city-search-term {
    font-size:x-large
}

.subtitle {
    border-bottom: 2px solid black;
}

.card {
    background-color: rgb(98, 98, 161);
    color: white;
}

button {
    width: 100%;
}



